* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.sr-only {
    position:absolute;
    z-index: -100;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.like-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card {
    display: flex;
    width: 840px;
    padding: 24px;
}

.card-content {
    flex-grow: 1;
}

.card-image {
    position: relative;
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 6px;
    margin-right: 24px;
    background-image: url('assets/img-house.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.card-image .like-button {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    background-image: url('assets/icon-favorite.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    cursor: pointer;
}

.card-image.vertical img {
    width: 100%;
    height: auto;
}

.card-image.horizontal img {
    width: auto;
    height: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.plus-badge {
    display: inline-block;
    padding: 1px 8px;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4285;
    color: #fff;
    background-color: #92174D;
    text-transform: uppercase;
}

.property-type span {
    font-size: 16px;
    line-height: 1.25;
    color: #7D858F;
}

.property-rate {
    font-size: 16px;
    line-height: 1.25;
}

.property-rate strong {
    color: #151B26;
    font-weight: 400;
}

.property-rate span {
    color: #7D858F;
}

.property-rate::before {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('assets/icon-star.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.card-title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    color: #151B26;
}

.property-detail {
    font-size: 14px;
    line-height: 1.142857;
    color: #7D858F;
}

.property-detail div:first-child {
    margin-bottom: 8px;
}

.property-detail dd span::after {
    content: "·";
    margin: 0 6px;
}

.property-detail dd span:last-child::after {
    content: '';
    margin: 0;
}